*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}
header p{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
header nav a{
    color: white;
}